name: Deploy on Push

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 109.220.235.133
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd /home/dev/production/app/Cemantix_python
            git pull origin master
            pip install -r requirements.txt
            sudo systemctl restart cemantix